@font-face {
  font-family: "iconfont"; /* Project id 4612287 */
  src: url('iconfont.woff2?t=1720271394115') format('woff2'),
       url('iconfont.woff?t=1720271394115') format('woff'),
       url('iconfont.ttf?t=1720271394115') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list2f:before {
  content: "\e6b8";
}

.icon-suoyou:before {
  content: "\e8ef";
}

.icon-shoucang:before {
  content: "\e8c6";
}

.icon-grid:before {
  content: "\e659";
}

.icon-shoucangweishoucang:before {
  content: "\e8e3";
}

